* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #b2bbb5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(230, 216, 216);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    animation: slideInDown 0.8s ease-in-out;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
    transform: scale(1.05);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.result {
    margin-top: 20px;
    text-align: left;
    animation: fadeInUp 0.8s ease-in-out;
}

.result > h3 {
    margin-left: 5px;
}

#food-list {
    list-style: none;
    margin-top: 10px;
}

#food-list li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInUp 0.5s ease-in-out;
}

#food-list li button {
    background: none;
    border: none;
    color: #a31515;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#food-list li button:hover {
    transform: scale(1.2);
}

/* Keyframe Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
